@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:wght@200;300;400;600&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Rubik:wght@400;500;700&family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

$primaryBtn: #986eb0;

body {
    background: #fafafa;
}

.backend {
    width: 420px;
    height: 600px;
    background: linear-gradient( to bottom,  hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
    // border: 10px solid #ab3df8;
    // padding: 50px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: -20px;
    padding-bottom: -5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    // margin: 20px;
    position: absolute;
}

.main {
    position: absolute;
    z-index: 1;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-bottom: 8rem;
    // margin-left: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    // background: lightcoral;
    width: 50%;
    height: 600px; 
    .content {
        margin-left: 20rem;
        background: #f5f3f8;
        width: 290px;
        height: 580px;
        border: 10px solid #ffffff;
        border-radius: 30px;
        .head {
            background: linear-gradient(to right, #953bfd, #e145fe);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            display: flex;
            flex-direction: column;
            .topp {
                background: #ffffff;
                width: 100%-45%;
                height: 25px;
                margin-left: 3.8rem;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
            }
            .header {
            // background: red;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: .7rem;
            padding-bottom: .7rem;
            padding-right: .5rem;
            // background: hotpink;
            }
            // div {
            //     background: #ffffff;
            //     margin-left: -1.5rem;
            // }
            .less-than {
                margin-left: 1rem;
                color: indianred;
                // background: indianred;
            }
            .sam {
                background: green;
                margin-left: -5rem;
                object-fit: contain;
                width: 30px;
                height: 30px;
                border: 2px solid #ffffff;
                border-radius: 50%;

            }
            .holder {
                margin-left: -5rem;
                // background: red;
                color: #e9e6ec;
                h2 {
                    font-size: 14px;
                }
                p {
                    font-size: 8px;
                }
            }
            .svg {
                fill: #ede5f4;
                margin: 0 1.5rem;
            }
        }
        .body {
            // background: #abe;
            margin-top: .5rem;
            .text {
                font-size: 9px;
                color: $primaryBtn;
                word-wrap: break-word;
                background: #ede5f4;
                border-radius: 10px;
                padding: .7rem 1rem;
                margin-right: 6.5rem;
                margin-left: .8rem;
                margin-bottom: .5rem;
            }
            .textt {
                font-size: 9px;
                color: #847e8c;
                word-wrap: break-word;
                background: #ffffff;
                border-radius: 10px;
                padding: .7rem 1rem;
                margin-left: 6.5rem;
                margin-right: .5rem;
                margin-bottom: .5rem;
            }
            .send {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #ffffff;
                border-radius: 25px;
                width: 100%-5%;
                padding-top: .5rem;
                padding-bottom: .5rem;
                margin-left: .5rem;
                margin-right: 2rem;
                
                .sendd {
                    // background: chocolate;
                    margin-right: -1.2rem;
                    margin-left: -.5rem;
                }
                .texttt {
                    // background: chocolate;
                    font-size: 13px;
                    word-wrap: break-word;                   
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    padding-left: -3rem;
                    margin-right: 6.5rem;
                    margin-left: .1rem;
                    // margin-bottom: 1rem;
                }
            }
            .dog {
                margin-left: 5rem;
                img {
                    object-fit: contain;
                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                }
            }
            .price {
                .box {
                font-size: 10px;
                word-wrap: break-word;
                background: linear-gradient(to right, #e342ff, #9337fe);
                border-radius: 10px;
                padding: .7rem 1rem;
                margin-right: 6.5rem;
                margin-left: .8rem;
                margin-bottom: .5rem;
                width: 100%-30%;
                color: #ffffff;
                .round {
                    border: .7px solid #f5f3f8;
                    border-radius: 50%;
                    padding: 1px 7px;
                    margin-right: .5rem;
                }
                .num {
                    font-size: 14px;
                    font-weight: bold;
                    // background: coral;
                    margin-left: 2rem;
                }
                .num1 {
                    font-size: 14px;
                    font-weight: bold;
                    // background: coral;
                    margin-left: 3.2rem;
                }
                }
            }
        }
    }
}

.right {
    // background: lightblue;
    width: 50%;
    height: 500px;
    // margin-left: 4rem;
    padding-top: 12rem;
    padding-left: 8rem;
    .cont {
        margin-left: -2.5rem;
        h1 {
            // background: lightgreen;
            margin-bottom: 1rem;
            color: #3c2b4d;
        }
        .para {
            // background: lightslategray;
            margin-right: 12rem;
            word-wrap: break-word;
            line-height: 1.5rem;
            color: #95929b;
        }
    }
}

.backend-2 {
    margin-left: 3rem;
    width: 500px;
    height: 600px;
    background: #f9f4fa;
    top: 10rem;
    left: 65rem;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
}

.attribution {
    top: 45rem;
    position: absolute;
}

@media (max: 420px) {
    .right {
        margin-right: -2rem;
    }
}
